<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.board.mapper.BoardMapper">
    <select id="selectUserList" resultType="com.example.board.dto.BoardDto">
        SELECT userName
        FROM USER
    </select> 
    
    <select id="selectSchoolRecord" parameterType="int" resultType="com.example.board.dto.BoardDto">
    	SELECT A.subject_id, score 
    	FROM school_record as A, subject_record as B 
    	WHERE A.subject_id = B.subject_id and user_id=#{user_id}
    </select>
    
    <select id="selectUserCnt" resultType="int">
    	SELECT count(*) AS cnt
    	FROM User
    </select>
    
    <select id="selectSubjectList" resultType="com.example.board.dto.BoardDto">
    	SELECT subjectName 
    	FROM subject_record
    </select>
    
    <select id="selectSubjectCnt" resultType="int">
    	SELECT count(*) AS cnt
    	FROM subject_record
    </select>
</mapper>
